.era {
  margin-top: 120px;
  position: relative;
  z-index: 2;
  &::after {
    position: absolute;
    content: "";
    display: inline-block;
    width: 741px;
    height: 151px;
    top: 260px;
    right: 0;
    background-image: url("../../icons/era__vector.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  &::before {
    z-index: -1;
    position: absolute;
    content: "";
    display: block;
    width: 95px;
    height: 445px;
    top: 0px;
    right: 0;
    background-image: url("../../icons/easy__mask.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  &__container {
    @include df-row-between-center;
    gap: 0px;
  }
  &__left-box {
    @include df-column-center-start;
    gap: 24px;
  }
  &__title {
    width: 445px;
    text-align: start;
    font-family: "Space Mono";
    font-weight: bold;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -2.14px;
    color: $dark__navy;
  }
  &__text {
    width: 445px;
    text-align: start;
    font-family: "Lexend Deca";
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 0px;
    color: $dim__grey;
  }
  &__image {
    width: 445px;
    height: 445px;
    border-radius: 50%;
  }
}
@media (max-width: 1300px) {
  .era {
    margin-top: 120px;
    position: relative;
    z-index: 2;
    &::after {
      position: absolute;
      content: "";
      display: inline-block;
      width: 349px;
      height: 151px;
      top: 260px;
      right: 0;
      background-image: url("../../icons/era__mb-vector.svg");
      background-repeat: no-repeat;
      background-size: cover;
    }
    &::before {
      z-index: -1;
      position: absolute;
      content: "";
      display: block;
      width: 95px;
      height: 445px;
      top: 0px;
      right: 0;
      background-image: url("../../icons/easy__mask.svg");
      background-repeat: no-repeat;
      background-size: cover;
    }
    &__container {
      @include df-row-between-center;
      gap: 0px;
    }
    &__left-box {
      @include df-column-center-start;
      gap: 24px;
    }
    &__title {
      width: 445px;
      text-align: start;
      font-family: "Space Mono";
      font-weight: bold;
      font-size: 48px;
      line-height: 48px;
      letter-spacing: -2.14px;
      color: $dark__navy;
    }
    &__text {
      width: 445px;
      text-align: start;
      font-family: "Lexend Deca";
      font-weight: 400;
      font-size: 15px;
      line-height: 25px;
      letter-spacing: 0px;
      color: $dim__grey;
    }
    &__image {
      width: 445px;
      height: 445px;
      border-radius: 50%;
    }
  }
}
@media (max-width: 1145px) {
  .era {
    margin-top: 120px;
    position: relative;
    z-index: 2;
    &::after {
      position: absolute;
      content: "";
      display: inline-block;
      width: 735px;
      height: 151px;
      top: 260px;
      right: 0;
      background-image: url("../../icons/era__tb-vector.svg");
      background-repeat: no-repeat;
      background-size: cover;
    }
    &::before {
      z-index: -1;
      position: absolute;
      content: "";
      display: block;
      width: 95px;
      height: 445px;
      top: 0px;
      right: 0;
      background-image: url("../../icons/easy__mask.svg");
      background-repeat: no-repeat;
      background-size: cover;
    }
    &__container {
      @include df-column-reverse-center-center;
      gap: 56px;
    }
    &__left-box {
      @include df-column-center-start;
      gap: 40px;
    }
    &__title {
      width: 445px;
      text-align: center;
      font-family: "Space Mono";
      font-weight: bold;
      font-size: 48px;
      line-height: 48px;
      letter-spacing: -2.14px;
      color: $dark__navy;
    }
    &__text {
      width: 445px;
      text-align: center;
      font-family: "Lexend Deca";
      font-weight: 400;
      font-size: 15px;
      line-height: 25px;
      letter-spacing: 0px;
      color: $dim__grey;
    }
    &__image {
      width: 445px;
      height: 445px;
      border-radius: 50%;
    }
  }
}
@media (max-width: 1024px) {
  .era {
    margin-top: 144px;
    position: relative;
    z-index: 2;
    &::after {
      position: absolute;
      content: "";
      display: inline-block;
      width: 735px;
      height: 151px;
      top: 260px;
      right: 0;
      background-image: url("../../icons/era__tb-vector.svg");
      background-repeat: no-repeat;
      background-size: cover;
    }
    &::before {
      z-index: -1;
      position: absolute;
      content: "";
      display: block;
      width: 95px;
      height: 445px;
      top: 0px;
      right: 0;
      background-image: url("../../icons/easy__mask.svg");
      background-repeat: no-repeat;
      background-size: cover;
    }
    &__container {
      padding-left: 39px;
      padding-right: 39px;
      @include df-column-reverse-center-center;
      gap: 56px;
    }
    &__left-box {
      @include df-column-center-center;
      gap: 40px;
    }
    &__title {
      width: 457px;
      text-align: center;
      font-family: "Space Mono";
      font-weight: bold;
      font-size: 48px;
      line-height: 48px;
      letter-spacing: -2.14px;
      color: $dark__navy;
    }
    &__text {
      width: 573px;
      text-align: center;
      font-family: "Lexend Deca";
      font-weight: 400;
      font-size: 15px;
      line-height: 25px;
      letter-spacing: 0px;
      color: $dim__grey;
    }
    &__image {
      width: 445px;
      height: 445px;
      border-radius: 50%;
    }
  }
}
@media (max-width: 767px) {
  .era {
    margin-top: 72px;
    position: relative;
    z-index: 2;
    &::after {
      position: absolute;
      content: "";
      display: inline-block;
      width: 349px;
      height: 151px;
      top: 130px;
      right: 0;
      background-image: url("../../icons/era__mb-vector.svg");
      background-repeat: no-repeat;
      background-size: cover;
    }
    &::before {
      z-index: -1;
      position: absolute;
      content: "";
      display: none;
      width: 95px;
      height: 445px;
      top: 0px;
      right: 0;
      background-image: url("../../icons/easy__mask.svg");
      background-repeat: no-repeat;
      background-size: cover;
    }
    &__container {
      padding-left: 24px;
      padding-right: 24px;
      @include df-column-reverse-center-center;
      gap: 56px;
    }
    &__left-box {
      @include df-column-center-center;
      gap: 32px;
    }
    &__title {
      width: 311px;
      text-align: center;
      font-family: "Space Mono";
      font-weight: bold;
      font-size: 32px;
      line-height: 32px;
      letter-spacing: -1.43px;
      color: $dark__navy;
    }
    &__text {
      width: 100%;
      text-align: center;
      font-family: "Lexend Deca";
      font-weight: 400;
      font-size: 15px;
      line-height: 25px;
      letter-spacing: 0px;
      color: $dim__grey;
    }
    &__image {
      width: 311px;
      height: 311px;
      border-radius: 50%;
    }
  }
}