.locations {
  margin-top: 101px;
  width: 100%;
  background-image: url("../../images/locations__background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 62px;
  padding-bottom: 62px;
  &__container {
    @include df-row-start-center;
  }
  &__title {
    font-family: "Space Mono";
    font-weight: bold;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -2.5px;
    color: $white;
  }
}
@media (max-width: 1024px) {
  .locations {
    margin-top: 101px;
    width: 100%;
    background-image: url("../../images/locations__tb-background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 72px;
    padding-bottom: 72px;
    &__container {
      @include df-row-start-center;
      padding-left: 39px;
      padding-right: 39px;
    }
    &__title {
      font-family: "Space Mono";
      font-weight: bold;
      font-size: 56px;
      line-height: 56px;
      letter-spacing: -2.5px;
      color: $white;
    }
  }
}
@media (max-width: 767px) {
  .locations {
    margin-top: 64px;
    width: 100%;
    background-image: url("../../images/locations__mb-background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 60px;
    padding-bottom: 60px;
    &__container {
      @include df-row-center-center;
      padding-left: 24px;
      padding-right: 24px;
    }
    &__title {
      font-family: "Space Mono";
      font-weight: bold;
      font-size: 40px;
      line-height: 40px;
      letter-spacing: -1.79px;
      color: $white;
    }
  }
}